@keyframes heading {
  0% {
    opacity: 0; }
  50% {
    opacity: 40%; }
  100% {
    opacity: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 1rem;
  margin: 0 .25rem; }
  ::-webkit-scrollbar-thumb {
    background: #ffa931;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #fecb89; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #696969; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6.7rem;
    letter-spacing: 3px;
    font-weight: 100; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0 auto; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #696969;
  letter-spacing: 2px; }

.heading-terciary {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify;
  padding: .5rem 1rem;
  overflow: auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom--small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom--medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom--big {
  margin-bottom: 8rem !important; }

.u-margin-top--big {
  margin-top: 8rem !important; }

.u-margin-top--huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 300;
  position: relative;
  transition: .5s;
  font-family: "Lato", sans-serif; }

.btn--primary {
  height: 100%;
  color: #fff; }
  .btn--primary::after, .btn--primary::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0%;
    bottom: 0;
    background-color: #fff;
    transition: .5s;
    transition-delay: .5s; }
  .btn--primary::after {
    right: 0; }
  .btn--primary::before {
    left: 0; }
  .btn--primary span {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: .5s; }
  .btn--primary:hover::after, .btn--primary:hover::before {
    height: 100%; }
  .btn--primary:hover {
    color: #2F4F4F;
    letter-spacing: 3px;
    transition-delay: .5s; }
    .btn--primary:hover span {
      height: 100%;
      transition-delay: .7s; }

.btn--secondary {
  width: fit-content;
  align-self: center;
  z-index: 10;
  color: #2F4F4F;
  transition: all .2; }
  .btn--secondary::before {
    content: '';
    position: absolute;
    transition: .5s;
    top: 0;
    width: 0;
    height: 100%; }
  .btn--secondary::before {
    right: 0;
    border: 1px solid #ffa931;
    border-left: 0;
    border-right: 0; }
  .btn--secondary:hover {
    font-weight: 400;
    transform: scale(1.2);
    color: #ffa931; }
    .btn--secondary:hover::before {
      transition-delay: 0s;
      width: 100%; }

.btn--terciary, .btn--terciary:link, .btn--terciary:visited {
  padding: 0;
  color: #2F4F4F;
  font-size: 1.6rem;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 400; }
  .btn--terciary span, .btn--terciary:link span, .btn--terciary:visited span {
    display: block;
    margin-bottom: .5rem; }
    .btn--terciary span:first-child, .btn--terciary:link span:first-child, .btn--terciary:visited span:first-child {
      text-transform: uppercase; }

.btn--card, .btn--card:visited, .btn--card:link {
  color: #ffa931;
  display: block;
  text-align: center;
  font-weight: 400; }
  .btn--card:hover, .btn--card:visited:hover, .btn--card:link:hover {
    transform: scale(1.1); }

.card {
  display: flex;
  border: 1px solid #696969; }
  .card__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; }
  @media (max-width: 56.25em) {
    .card {
      min-height: 30rem !important;
      flex-direction: column;
      justify-content: space-between; } }
  @media (max-width: 37.5em) {
    .card {
      max-height: 60rem !important; } }

.cardXL__text-box {
  width: 50%; }
  @media (max-width: 56.25em) {
    .cardXL__text-box {
      width: 100%; } }

.cardXL__img-box {
  width: 50%;
  background-image: url(../img/bamboo-1.jpg);
  background-size: cover; }
  @media (max-width: 56.25em) {
    .cardXL__img-box {
      width: 100%;
      height: 50%; } }

.cardL__text-box {
  width: 50%; }
  @media (max-width: 56.25em) {
    .cardL__text-box {
      width: 100%;
      height: 70%; } }

.cardL__img-box {
  width: 50%; }
  @media (max-width: 56.25em) {
    .cardL__img-box {
      width: 100%;
      height: 30%; } }
  .cardL__img-box--1 {
    background-image: url(../img/bamboo-1.jpg);
    background-size: cover; }
  .cardL__img-box--2 {
    background-image: url(../img/bamboo-1.jpg);
    background-size: cover; }

.cardM {
  flex-direction: column; }
  .cardM__img-box {
    width: 100%;
    height: 30%; }
    .cardM__img-box--1 {
      background-image: url(../img/bamboo-1.jpg);
      background-size: cover; }
    .cardM__img-box--2 {
      background-image: url(../img/bamboo-1.jpg);
      background-size: cover; }
    .cardM__img-box--3 {
      background-image: url(../img/bamboo-1.jpg);
      background-size: cover; }
  .cardM__text-box {
    width: 100%;
    height: 70%; }

.cardS {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bamboo-1.jpg);
  background-size: cover; }
  .cardS__text-box {
    width: 100%; }

.card {
  width: 100%;
  height: 100%; }
  .card--1 {
    grid-row: 1 / span 2;
    grid-column: 4 / span 2; }
  .card--2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .card--3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3; }
  .card--4 {
    grid-row: 1 / 2;
    grid-column: 3 / 4; }
  .card--5 {
    grid-row: 2 / 3;
    grid-column: 1 / span 2; }
  .card--6 {
    grid-row: 3 / 4;
    grid-column: 3 / span 2; }
  .card--7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2; }
  .card--8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .card--9 {
    grid-row: 2 / 3;
    grid-column: 3 / 4; }
  .card--10 {
    grid-row: 3 / 4;
    grid-column: 5 / 6; }

.hero {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__text-box {
    z-index: 2;
    animation: heading 3s;
    text-align: center; }

.bamboo {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  @media (max-width: 56.25em) {
    .bamboo {
      display: flex;
      flex-direction: column;
      padding: 2rem 5rem; } }
  @media (max-width: 37.5em) {
    .bamboo {
      padding: 2rem; } }

.about {
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow: auto;
  background-position: top;
  background-image: url(../img/boat-1.jpg);
  display: flex;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .about {
      flex-direction: column;
      justify-content: initial; } }

.kawayanon,
.payag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin: 8rem 4rem;
  padding: 7rem 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  transition: all .3s; }
  @media (max-width: 68.75em) {
    .kawayanon,
    .payag {
      margin: .7rem auto;
      background: rgba(255, 255, 255, 0.8);
      justify-content: space-around;
      padding: 0;
      width: 90%; } }
  .kawayanon__heading span,
  .payag__heading span {
    font-weight: 300;
    display: block;
    font-size: 5.5rem; }
  .kawayanon__text-box,
  .payag__text-box {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #2F4F4F;
    font-weight: 300;
    line-height: 2;
    text-align: justify; }
  .kawayanon:hover,
  .payag:hover {
    transform: translateY(-0.5rem);
    background: rgba(255, 255, 255, 0.85); }
  .kawayanon__btn,
  .payag__btn {
    margin: 2rem 0; }

.hut {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url(../img/hut-2.jpg);
  background-position: left; }
  @media (max-width: 1000px) {
    .hut {
      background-position: center; } }

.sidebar {
  position: absolute;
  left: 0;
  width: 30vw;
  height: 100vh;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .sidebar {
      width: 100vw;
      background-color: rgba(255, 255, 255, 0.7); } }

.list {
  list-style: none;
  margin: 2rem 0;
  display: flex; }

.offer__list {
  flex-wrap: wrap; }
  @media (max-width: 1000px) {
    .offer__list {
      flex-direction: column; } }

.offer__item {
  flex: 0 0 50%;
  margin-bottom: .7rem;
  transition: all .2s; }
  .offer__item:hover {
    transform: translateX(4px); }

.offer__item::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .7rem;
  background-color: #ffa931;
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-size: cover; }

.extras__list {
  flex-direction: column; }

.extras__item {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  transition: all .2s; }
  .extras__item:hover {
    transform: translateX(3px) translateY(2px); }

.extras__icon {
  width: 2rem;
  height: 2rem;
  fill: #ffa931;
  margin-right: 1.5rem; }

.booking {
  align-self: center;
  justify-self: center; }

.contact {
  display: flex;
  justify-content: space-around;
  justify-items: self-end;
  align-items: flex-start; }
  @media (max-width: 1000px) {
    .contact {
      flex-direction: column;
      justify-content: center; } }
  .contact__location, .contact__mail {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 2rem 0;
    transition: all .3s; }
    .contact__location:hover, .contact__mail:hover {
      transform: translateY(-3px); }
  .contact__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffa931;
    margin-right: 1.5rem; }

.paragraph {
  text-align: justify; }
