@keyframes heading {
  0% {
    opacity: 0; }
  50% {
    opacity: 40%; }
  100% {
    opacity: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #696969; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6.7rem;
    letter-spacing: 3px;
    font-weight: 100; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0 auto; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom--small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom--medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom--big {
  margin-bottom: 8rem !important; }

.u-margin-top--big {
  margin-top: 8rem !important; }

.u-margin-top--huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2rem;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 300;
  position: relative;
  transition: .5s; }

.btn--primary {
  height: 100%; }
  .btn--primary::after, .btn--primary::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0%;
    bottom: 0;
    background-color: #fff;
    transition: .5s;
    transition-delay: .5s; }
  .btn--primary::after {
    right: 0; }
  .btn--primary::before {
    left: 0; }
  .btn--primary span {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: .5s; }
  .btn--primary:hover::after, .btn--primary:hover::before {
    height: 100%; }
  .btn--primary:hover {
    color: #2F4F4F;
    letter-spacing: 3px;
    transition-delay: .5s; }
    .btn--primary:hover span {
      height: 100%;
      transition-delay: .7s; }

.btn--secondary {
  width: fit-content;
  align-self: center;
  z-index: 10; }
  .btn--secondary::before {
    content: '';
    position: absolute;
    transition: .5s;
    top: 0;
    width: 0;
    height: 100%; }
  .btn--secondary::before {
    right: 0;
    border: 1px solid #ffa931;
    border-left: 0;
    border-right: 0; }
  .btn--secondary:hover {
    transform: translateX(1rem) scale(1.2); }
    .btn--secondary:hover::before {
      transition-delay: 0s;
      width: 100%; }

.hero {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__text-box {
    z-index: 2;
    animation: heading 3s;
    text-align: center; }

.about {
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow: scroll;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(185, 172, 146, 0.3), rgba(185, 172, 146, 0.3)), url(../img/bamboo-1.jpg);
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .about {
      flex-direction: column; } }

.kawayanon,
.payag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5rem solid rgba(255, 169, 49, 0.5);
  margin: 8rem;
  padding: 7rem 0;
  text-align: center;
  background-color: rgba(255, 169, 49, 0.6);
  transition: all .3s; }
  @media (max-width: 1000px) {
    .kawayanon,
    .payag {
      margin: .5rem;
      padding: 0;
      border: 1rem solid rgba(255, 169, 49, 0.5); } }
  .kawayanon__heading span,
  .payag__heading span {
    font-weight: 200;
    display: block;
    font-size: 6rem; }
  .kawayanon__text-box,
  .payag__text-box {
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    line-height: 2;
    text-align: justify; }
  .kawayanon:hover,
  .payag:hover {
    transform: translateY(-0.5rem); }
