@keyframes heading {
  0% {
    opacity: 0; }
  50% {
    opacity: 40%; }
  100% {
    opacity: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: .5rem;
  margin: 0 .25rem; }
  ::-webkit-scrollbar-thumb {
    background: #ffa931;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #fecb89; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #696969; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6.7rem;
    letter-spacing: 3px;
    font-weight: 100; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0 auto; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #696969;
  letter-spacing: 2px; }

.heading-terciary {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify;
  padding: .5rem 1rem;
  overflow: auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom--small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom--medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom--big {
  margin-bottom: 8rem !important; }

.u-margin-top--big {
  margin-top: 8rem !important; }

.u-margin-top--huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  background: none;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  transition: .5s;
  font-family: "Lato", sans-serif; }

.btn--primary {
  height: 100%;
  color: #fff; }
  @media (max-width: 37.5em) {
    .btn--primary {
      font-weight: 900 !important; } }
  .btn--primary::after, .btn--primary::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0%;
    bottom: 0;
    background-color: #fff;
    transition: .5s;
    transition-delay: .5s; }
  .btn--primary::after {
    right: 0; }
  .btn--primary::before {
    left: 0; }
  .btn--primary span {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: .5s; }
  .btn--primary:hover::after, .btn--primary:hover::before {
    height: 100%; }
  .btn--primary:hover {
    color: #2F4F4F;
    letter-spacing: 3px;
    transition-delay: .5s; }
    .btn--primary:hover span {
      height: 100%;
      transition-delay: .7s; }

.btn--secondary {
  width: fit-content;
  align-self: center;
  z-index: 10;
  color: #ffa931;
  transition: all .2 ease; }
  @media (max-width: 68.75em) {
    .btn--secondary {
      border-top: 1px solid #ffa931;
      border-bottom: 1px solid #ffa931; } }
  @media (max-width: 37.5em) {
    .btn--secondary {
      margin: 3rem 0;
      font-weight: 900 !important; } }
  .btn--secondary::before {
    content: '';
    position: absolute;
    transition: .5s;
    top: 0;
    width: 0;
    height: 100%; }
  .btn--secondary::before {
    right: 0;
    border: 1px solid #ffa931;
    border-left: 0;
    border-right: 0; }
  .btn--secondary:hover {
    font-weight: 700;
    color: #ffa931; }
    .btn--secondary:hover::before {
      transition-delay: 0s;
      width: 100%; }

.btn--terciary, .btn--terciary:link, .btn--terciary:visited {
  padding: 0;
  color: #2F4F4F;
  font-size: 1.6rem;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 400;
  border: none; }
  .btn--terciary span, .btn--terciary:link span, .btn--terciary:visited span {
    display: block;
    margin-bottom: .5rem; }
    .btn--terciary span:first-child, .btn--terciary:link span:first-child, .btn--terciary:visited span:first-child {
      text-transform: uppercase; }

.btn--card, .btn--card:visited, .btn--card:link {
  color: #ffa931;
  display: block;
  padding-left: 0;
  font-weight: 400;
  border: none; }
  .btn--card:hover, .btn--card:visited:hover, .btn--card:link:hover {
    transform: translateX(1rem); }

.card {
  justify-self: center;
  width: 28rem;
  height: 36rem;
  padding: 1.5rem;
  border-radius: 1.9rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: .4s ease-out; }
  .card:hover {
    transform: translateY(20px); }
    .card:hover::before {
      opacity: 1; }
    .card:hover .card__info {
      opacity: 1;
      transform: translateY(0px); }
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.9rem;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0; }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.9rem; }
  .card__info {
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 1.6rem;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s; }
  .card__title {
    text-transform: uppercase; }

.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: flex;
  flex-direction: column; }
  .popup__content {
    width: 60%;
    background-color: #fff;
    color: #696969;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1.9rem;
    line-height: 2; }
    @media (max-width: 56.25em) {
      .popup__content {
        width: 75%;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 95%; } }
  .popup__title {
    text-transform: uppercase;
    border-bottom: 1px solid #ffa931;
    margin-bottom: 2rem; }

.hero {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__text-box {
    z-index: 2;
    animation: heading 3s;
    text-align: center; }

.bamboo {
  height: 100vh;
  width: 100%;
  padding: 5rem;
  background-image: linear-gradient(to right bottom, rgba(255, 169, 49, 0.6), rgba(255, 169, 49, 0.6)), url(../img/bamboo-1.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  justify-content: center;
  align-content: center; }
  @media (max-width: 80em) {
    .bamboo {
      height: 100%;
      padding: 4rem; } }
  @media (max-width: 37.5em) {
    .bamboo {
      padding: 3rem 0; } }

.about {
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow: auto;
  background-position: top;
  background-image: url(../img/boat-1.jpg);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center; }
  @media (max-width: 1000px) {
    .about {
      display: flex;
      flex-direction: column;
      justify-content: initial; } }

.kawayanon,
.payag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 93%;
  height: 90%;
  padding: 3rem 0;
  box-shadow: 0 0.7rem 4rem rgba(0, 0, 0, 0.4);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  transition: all .3s; }
  @media (max-width: 68.75em) {
    .kawayanon,
    .payag {
      margin: .7rem auto;
      background: rgba(255, 255, 255, 0.89);
      border-radius: 2rem;
      justify-content: space-around;
      padding: 0;
      width: 90%; } }
  .kawayanon__heading span,
  .payag__heading span {
    font-weight: 400;
    display: block;
    font-size: 3rem; }
  .kawayanon__text-box,
  .payag__text-box {
    width: 90%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #2F4F4F;
    font-weight: 300;
    line-height: 2;
    text-align: justify; }
  .kawayanon:hover,
  .payag:hover {
    transform: translateX(0.7rem);
    background: rgba(255, 255, 255, 0.95); }

.kawayanon {
  grid-column: 4/5; }

.payag {
  grid-column: 3/4;
  grid-row: 1/2; }

.hut {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url(../img/hut-2.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 1000px) {
    .hut {
      background-position: center; } }

.sidebar {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 100vh;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .sidebar {
      width: 100vw;
      background-color: rgba(255, 255, 255, 0.87); } }

.list {
  list-style: none;
  margin: 2rem 0;
  display: flex; }

.offer__list {
  flex-wrap: wrap; }
  @media (max-width: 1000px) {
    .offer__list {
      flex-direction: column; } }

.offer__item {
  flex: 0 0 50%;
  margin-bottom: .7rem;
  transition: all .2s; }
  .offer__item:hover {
    transform: translateX(4px); }

.offer__item::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .7rem;
  background-color: #ffa931;
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
  mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-size: cover; }

.extras__list {
  flex-direction: column; }

.extras__item {
  display: flex;
  align-items: center;
  margin: .5rem 0;
  transition: all .2s; }
  .extras__item:hover {
    transform: translateX(3px) translateY(2px); }

.extras__icon {
  width: 2rem;
  height: 2rem;
  fill: #ffa931;
  margin-right: 1.5rem; }

.booking {
  align-self: center;
  justify-self: center; }

.contact {
  display: flex;
  justify-content: space-around;
  justify-items: self-end;
  align-items: flex-start; }
  @media (max-width: 1000px) {
    .contact {
      flex-direction: column;
      justify-content: center; } }
  .contact__location, .contact__mail {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 2rem 0;
    transition: all .3s; }
    .contact__location:hover, .contact__mail:hover {
      transform: translateY(-3px); }
  .contact__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffa931;
    margin-right: 1.5rem; }

.paragraph {
  text-align: justify; }
