//COLORS
$color-primary: #15eda3;
$color-primary--dark: #0ea47a;

$color-secondary: #068b80;
$color-secondary--dark: #127780;

$color-white: #fff;

$color-grey--silver: #C0C0C0;
$color-grey--dark: #696969;
$color-grey--darkslate: #2F4F4F;

$color-black: #000;

//FONTS

$default-font-size: 1.6rem;
