//COLORS
$color-primary: #ffa931;
$color-primary--light-1: #fecb89;
$color-primary--light-2: #fbe6d4;

$color-secondary: #b9ac92;

$color-white: #fff;

$color-grey--light: rgb(199, 199, 199);
$color-grey--dark: #696969;
$color-grey--darkslate: #2F4F4F;

$color-black: #000;

//FONTS

$default-font-size: 1.6rem;

//BREAKPOINTS

$bp-largest: 80em;  //1280px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 32.25em //500px
