.card {
    display: flex;
    border: 1px solid $color-primary--light-1;

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        
    }

    @media (max-width: $bp-large) {
        min-height: 35rem !important;
    }

    @media (max-width: $bp-medium) {
        min-height: 35rem !important;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: $bp-small) {
        max-height: 80rem !important;
    }

    &:first-child {
        @media (max-width: $bp-large) {
            min-height: 60rem !important;  
        }
    }
}

.cardXL {
    flex-direction: row;

    &__text-box {
        width: 50%;

        @media (max-width: $bp-large) {
            width: 75%;
        }
    }

    &__img-box {
        width: 50%;
        background-image: url(../img/article-1.jpg);
        background-size: cover;
        background-position-x: center;

        @media (max-width: $bp-large) {
            width: 25%;
        }
    }
}

.cardL {

    &__text-box {
        width: 50%;

        @media (max-width: $bp-medium) {
            width: 100%;
            height: 70%;
        }
    }

    &__img-box {
        width: 50%;
        height: 100%;

        @media (max-width: $bp-medium) {
            width: 100%;
            height: 30%;
        }

        &--1 {
            background-image: url(../img/article-2.jpg);
            background-size: cover;
        }

        &--2 {
            background-image: url(../img/article-3.jpg);
            background-size: cover;
        }
    }
}

.cardM {
    flex-direction: column;

    @media (max-width: $bp-large) {
        flex-direction: row;
    }

    @media (max-width: $bp-small) {
        flex-direction: column;
    }

    &__img-box {
        width: 100%;
        height: 40%;

        @media (max-width: $bp-large) {
            height: 100%;
        }
        
        &--1 {
            background-image: url(../img/article-5.jpg);
            background-size: cover;
            background-position-y: bottom;
        }

        &--2 {
            background-image: url(../img/article-6.jpg);
            background-size: cover;
            background-position-y: 12%;
        }

        &--3 {
            background-image: url(../img/article-4.jpg);
            background-size: cover;
            background-position-y: 60%;
        }
    }

    &__text-box {
        width: 100%;
        height: 70%;

        @media (max-width: $bp-large) {
            height: 100%;
        }
    }
}

.cardS {
    background: linear-gradient(rgba($color-white, .8), rgba($color-white, .8)), url(../img/bamboo-1.jpg);
    background-size: cover;
    

    &__text-box {
       width: 100%; 
    }
}