*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px (default) = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
} 

body {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .5rem;
    margin: 0 .25rem;

    &-thumb {
        background: $color-primary; 
        border-radius: 10px;

        &:hover {
            background: $color-primary--light-1;
        }
    }
  }
