.about {
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: auto;
    background-position: top;
    background-image: url(../img/boat-1.jpg);
    display: flex;
    justify-content: space-around;
    
    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: initial;
    }
}

.kawayanon,
.payag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 8rem 4rem;
    padding: 7rem 0;
    text-align: center;
    background: rgba($color-white, .6);
    transition: all .3s;

    @media (max-width: $bp-large) {
        margin: .7rem auto;
        background: rgba($color-white, .8);
        justify-content: space-around;
        padding: 0;
        width: 90%;
    }

    &__heading span {
        font-weight: 300;
        display: block;
        font-size: 5.5rem;
    }

    &__text-box {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        color: $color-grey--darkslate;
        font-weight: 300;
        line-height: 2;
        text-align: justify;
    }

    &:hover {
        transform: translateY(-.5rem);
        background: rgba($color-white, .85);
    }

    &__btn {
        margin: 2rem 0;
    }
}



