.about {
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right bottom, rgba($color-secondary, 0.3), rgba($color-secondary, 0.3)), url(../img/bamboo-1.jpg);
    // opacity: .7;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;

}

.kawayanon,
.payag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5rem solid rgba($color-primary, .5);
    margin: 8rem;
    padding: 10rem 0;
    text-align: center;
    background-color: rgba($color-primary, .6);
    transition: all .3s;

    &__heading span {
        font-weight: 200;
        display: block;
        font-size: 6rem;
    }

    &__text-box {
        width: 70%;
        margin: 0 auto;
        font-size: 1.8rem;
        color: $color-white;
        font-weight: 300;
        line-height: 2;
        text-align: justify;
    }

    &:hover {
        transform: translateY(-.5rem);
    }
}



