.about {
    width: 100%;
    height: 100vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    @media (max-width: $bp-small){
        height: 100%;
    }
    
}

.container {
    width: 80%;
    height: max-content;
    display: flex;
    background-color: $color-white;
    @include box-shadow;

    @media (min-width: $bp-largest) {
        width: 70%;
    }

    @media (max-width: $bp-medium) {
        flex-direction: column;
    }

    @media (max-width: $bp-small) {
        width: 90%;
    }

    &__img-box {
        width: 40%;
        background-image: url(../img/bamboo-1.jpg);
        background-size: cover;

        @media (max-width: $bp-medium) {
            width: 100%;
            height: 20rem;
        }
    }
    

    &__text-box {
        width: 60%;
        padding: 2rem;
        text-align: justify;

        @media (max-width: $bp-medium) {
            width: 100%;
        }
    }

    &__heading {
        font-size: 4rem;
    }
    
    &__text {
        font-size: $default-font-size;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    justify-items: self-end;
    align-items: flex-start;
    margin: 2rem auto;

    @media (max-width: $bp-small) {
        flex-direction: column;
    }

    &__box {
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        margin: 2rem 0;
        transition: all .3s;

        &:hover {
            transform: translateY(-3px);
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary;
        margin-right: 1rem;
    }
}

.social-media {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-grey--light;
        margin: 0 1rem;

        &:hover {
            fill: $color-primary;
        }
    }
}


