.articles {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    padding: 5rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.6), rgba($color-primary, 0.6)), url(../img/bamboo-1.jpg);
    background-size: cover;
    background-position: top;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    justify-content: center;
    align-content: center;
    
    @media (max-width: $bp-largest) {
        height: 100%;
        padding: 4rem;
    }

    @media (max-width: $bp-small) {
        padding: 3rem 0;
    }
}


