.articles {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    padding: 5rem;
    background-color: $color-primary;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    justify-content: center;
    align-content: center;
    
    @media (max-width: $bp-largest) {
        height: 100%;
        padding: 4rem;
    }

    @media (max-width: $bp-small) {
        padding: 3rem 0;
    }
}


