.bamboo {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
    padding: 1.5rem;

    @media (max-width: $bp-large) {
        display: flex;
        flex-direction: column;
        padding: 2rem 10rem;
    }

    @media (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media (max-width: $bp-small) {
        padding: 1rem;
    }

}

