.hut {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-image: url(../img/hut-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    position: absolute;
    left: 0;
    width: 35vw;
    height: 100vh;
    padding: 2rem;
    background-color: rgba($color-white, .85);
    font-size: $default-font-size;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // @media (min-width: $bp-large) {
    //     width: 30vh;
    // }

    @media (max-width: $bp-large) {
        width: 40vw;
    }

    @media (max-width: $bp-medium) {
        width: 80vw;
    }

    @media (max-width: $bp-small) {
        width: 100vw;
    }
}

.list {
    list-style: none;
    margin: 2rem 0;
    display: flex;
}

.offer {

    &__list{
        flex-wrap: wrap;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
        transition: all .2s;

        &:hover {
            transform: translateX(4px);
        }
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .7rem;

        background-color: $color-primary;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-size: cover;    
    }
}

.extras {

    &__list {
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: .5rem 0;
        transition: all .2s;

        &:hover {
            transform: translateX(3px) translateY(2px);
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
        margin-right: 1.5rem;
    }
}

.booking {
    align-self: center;
    justify-self: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    justify-items: self-end;
    align-items: flex-start;

    @media (max-width: $bp-small) {
        flex-direction: column;
        justify-content: center;
    }

    &__location,
    &__mail {
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        margin: 2rem 0;
        transition: all .3s;

        &:hover {
            transform: translateY(-3px);
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary;
        margin-right: 1.5rem;
    }
}

.paragraph {
    text-align: justify;
}
